{% extends "layout.html" %}
{% block title %}Agregar Categoría{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Agregar Categoría</h3>
                <form action="/add_categoria" method="POST">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="nombre" placeholder="Nombre de la categoría" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Agregar Categoría</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}