{% extends 'layout.html' %}
{% block title %}Editar Libro{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Editar Libro</h3>
                <form action="/update_libro/{{ libro[0] }}" method="POST">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título:</label>
                        <input class="form-control" type="text" id="titulo" name="titulo" value="{{ libro[1] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="autor" class="form-label">Autor:</label>
                        <input class="form-control" type="text" id="autor" name="autor" value="{{ libro[2] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="categorias" class="form-label">Categoría:</label>
                        <select class="form-select" id="categorias" name="categorias" required>
                            {% for categoria in categorias %}
                                <option value="{{ categoria[0] }}" {% if categoria[0] == libro[3] %}selected{% endif %}>{{ categoria[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Actualizar Libro</button>
                    <a class="btn btn-link" href="/libros">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

